@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

#textarea-1{
    width: 100%;
    height: 300px;

    resize: none;
    
}

.button-hangul{
    font-size: x-large;
    margin: 3px;
    border-radius: 10px;
}

.button-hangul:hover{
    background-color: #00aaaa;
}
